*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.my-button {
    font-weight: 600;
    color: #fff;
    padding: 8px 15px;
    border: 1px solid transparent;
    background-color: #4E6BFF;
    border-radius: 50px;
    margin-top: 6px;
}

.my-button:hover {
    border: 1px solid #4E6BFF;
    background: transparent;
}
#my-button-2 {
    font-weight: 600;
    color: #fff;
    padding: 8px 15px;
    border: 1px solid transparent;
    background-color: rgb(16, 53, 100);
    border-radius: 50px;
    margin-top: 6px;
}
#my-button-2:hover {
    border: 1px solid rgb(16, 53, 100);
    background: transparent;
}
#my-button-3 {
    font-weight: 600;
    color: #fff;
    padding: 8px 15px;
    border: 1px solid transparent;
    background-color: rgb(133, 56, 67);
    border-radius: 50px;
    margin-top: 6px;
}
#my-button-3:hover {
    border: 1px solid rgb(133, 56, 67);
    background: transparent;
}
.my-button-4 {
    border: 1px solid transparent;
    outline: none;
    padding: 8px 100px;
    background-color: transparent;
    cursor: pointer;
    border-radius: 50px;
    color: #ffffff77;
}

body {
    font-family: sans-serif;
    background-color: #181C31;
    
}
header {
    position: absolute;
    width: 100%;
    display: flex;
    padding: 8px 0px;
    justify-content: space-between;
    z-index: 10001;
}
.active {
    color: #4E6BFF !important;
}
.Log-btn {
    display: flex;
    align-items: center;
    float: right;
    margin-top: 6px;

}
.singIn-btn {
    font-size: 17px;
    color: #fff;
    font-weight: 500;
    border: 2px solid transparent;
    padding: 5px 15px;
    border-radius: 50px;
    margin-right: 8px;
    text-decoration: none;
    transition: all ease .30s;
}

.singIn-btn:hover {
    border: 2px solid #fff;
}
.singUp-btn {
    font-size: 17px;
    color: #fff;
    font-weight: 500;
    border: 1px solid transparent;
    background-color: #ffffff3a;
    padding: 5px 15px;
    border-radius: 50px;
    text-decoration: none;
    transition: all ease .30s;
}
.singUp-btn:hover {
    background-color: #2e2c2c33;
}
#menu-icon {
    font-size: 30px;
    color: #4E6BFF;
    z-index: 10001;
    cursor: pointer;
    display: none;
}
/* banner-section */
#banner {
position: relative;

}
#banner img {
    width: 600px;
    position: absolute;
    top: -90px;
    right: 0;
    left: 57%;
}

/* Features */
#Features {
    padding: 120px 0 ;
}
.shape {
    cursor: pointer;
}
.shape i {
    width: 80px !important;
    height: 80px;
}
.features-img {
    position: relative;
}
.nodules {
    position: absolute;
    top: 90px;
    right: 0;
    left: 0;
}
.features-text {
    margin: auto 0;
}

/* service */
.service-header {
    background-image: url(../img/shape-08.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    position: relative;
    border: 1px solid #ffffff1a;;
    ;
}
.fade-up {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    overflow: hidden;
    width: 100%;
    height:0;
    transition: 0.5s ease;
}
.test-box:hover .fade-up {
    bottom: 0;
    height: 20%;

}
.text {
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: bold;
}
.test-box {
    position: relative;
    cursor: pointer;
}
.facebook {
    background: #4E6BFF;
}
.facebook i {
    color: #fff;
}
.whatsapp {
    background: #25D366;
}
.whatsapp i {
    color: #fff;
    background: #25D366;
    border-radius: 50px;
}
.twitter {
    background: #00acee;
}
.twitter i {
    color: #fff;
}
.linkedin {
    background: #0072b1;
}
.linkedin i {
    color: #fff;
}

.social-icons a {
    width: 30px;
    height: 30px;
    display: block;
    overflow: hidden;
    border-radius: 100%;
    display: grid;
    place-items: center;
    text-decoration: none;
    padding: 5px;
    color: #4E6BFF;
    border: 1px solid rgba(255, 255, 255, 0.384);
    transition: 0.3s;

}

.social-icons a:hover {
    border: 1px solid white;
    color: white;

}

.tabile-list {
    border-radius: 10px !important;
}

.service-card {
    border: 1px solid transparent;
    transition: all 0.3s;
}
.service-card:hover {
    box-shadow: rgba(87, 86, 86, 0.12) 0px 1px 3px, rgba(99, 97, 97, 0.24) 0px 1px 2px;
    border-radius: 10px;
    cursor: pointer;
}
/* pricing */
#pricing {
    margin-top: 1300px;
}
.pricing-section {
    background-image: url(../img/shape-12.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 1px solid #ffffff1a;
    
}
.pricing-header {
    position: relative;
}
.shape-02 {
    width: 120px;
    position: absolute;
    top: 140px;
    left: 850px;
    right: 0;
}
.price-card {
    background: #10121b69;
    border-radius: 10px !important;
    padding: 10px 0;
    /* border: 1px solid #918c8c; */
    margin-top: 30px;
}
/* more priceing */
#price-container {
    background-color: #ffffff38;
    border-radius: 50px;
    padding: 4px 12px;
    text-align: start;
}
.my-button-4.active-priceing {
    background-color: #4e6bff !important;
    color: white;
}
.my-button-4:active {
    background-color: #4e6bff !important;
    color: white;
} 
.column {
    padding: 8px;
    float: left;
    width: 33%;
    border-radius: 10px;
}
.box {
    display: block;
}
.content img {
    border-radius: 10px;
}
.slider-box {
    background-color: #ffffff09;
}
/* achievement */
.achievement {
    background-image: url(../img/shape-16.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #ffffff1a;
}
/* contace */
.contact-section {
    background-image: url(../img/shape-12.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 1px solid #ffffff1a;
    
}
.contact-form {
    background: #08060625;
    border-radius: 10px;
}





@media only screen and (max-width: 480px)  {
    #banner img {
        width: 300px;
        top: -90px;
        right: 0;
        left: 125px;

    }
    .service-header {
        position: relative;
    }
    .shape-11 {
        position: absolute;
        bottom: 0;
        left: 345px;
        right: 0;
    }
    #pricing {
        margin-top: 3600px;
    }
    .shape-02 {
        width: 120px;
    position: absolute;
    top: 250px;
    left: 300px;
    right: 0;
    }
}