*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.my-button {
    font-weight: 600;
    color: #fff;
    padding: 8px 15px;
    border: 1px solid transparent;
    background-color: #4E6BFF;
    border-radius: 50px;
    margin-top: 6px;
}
.my-button:hover {
    border: 1px solid #4E6BFF;
    background: transparent;
}

body {
    font-family: sans-serif;
    background-color: #181C31;
    
}
header {
    position: absolute;
    width: 100%;
    display: flex;
    padding: 8px 0px;
    justify-content: space-between;
    z-index: 10001;
}
.active {
    color: #4E6BFF !important;
}
.Log-btn
{
    display: flex;
    align-items: center;
    float: right;
    margin-top: 6px;

}
.singIn-btn {
    font-size: 17px;
    color: #fff;
    font-weight: 500;
    border: 2px solid transparent;
    padding: 5px 15px;
    border-radius: 50px;
    margin-right: 8px;
    text-decoration: none;
    transition: all ease .30s;
}

.singIn-btn:hover{
    border: 2px solid #fff;
}
.singUp-btn{
    font-size: 17px;
    color: #fff;
    font-weight: 500;
    border: 1px solid transparent;
    background-color: #ffffff3a;
    padding: 5px 15px;
    border-radius: 50px;
    text-decoration: none;
    transition: all ease .30s;
}
.singUp-btn:hover {
    background-color: #2e2c2c33;
}
#menu-icon {
    font-size: 30px;
    color: #4E6BFF;
    z-index: 10001;
    cursor: pointer;
    display: none;
}
/* banner-section */
#banner {
position: relative;

}
#banner img {
    width: 600px;
    position: absolute;
    top: -90px;
    right: 0;
    left: 57%;
}

#Features {
    padding: 120px 0 ;
}
.shape i {
    width: 80px !important;
    height: 80px;
}
.features-text {
    margin: auto 0;
}
.service-header {
    background-image: url(../img/shape-08.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}
.fade-up 
{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    overflow: hidden;
    width: 100%;
    height:0;
    transition: 0.5s ease;
    border-bottom: 1px solid #4E6BFF;
    border-left: 1px solid #4E6BFF;
}
.test-box:hover .fade-up 
{
    bottom: 0;
    height: 20%;
    border-bottom: 1px solid #4E6BFF;
    border-left: 2px solid #4E6BFF;
}
.text {
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: bold;
}
.facebook {
    background: #4E6BFF;
}
.facebook i {
    color: #fff;
}
.whatsapp {
    background: #25D366;
}
.whatsapp i {
    color: #fff;
    background: #25D366;
    border-radius: 50px;
}
.twitter {
    background: #00acee;
}
.twitter i {
    color: #fff;
}
.linkdin {
    background: #0072b1;
}
.linkdin i {
    color: #fff;
}
.test-box 
{
    position: relative;
    cursor: pointer;
}
.social-icons a
{
    width: 30px;
    height: 30px;
    display: block;
    overflow: hidden;
    border-radius: 100%;
    display: grid;
    place-items: center;
    text-decoration: none;
    padding: 5px;
    color: #4E6BFF;
    border: 1px solid rgba(255, 255, 255, 0.384);
    transition: 0.3s;

}


.social-icons a:hover
{
    border: 1px solid white;
    color: white;

}

.tabile-list
{
    border-radius: 10px !important;
}
#Services {
    
}